/CamMonitoring/data/
/NotificationManager/venv/
/CPP/cmake-build-debug/
#/CPP/.idea/
/CPP/build/processing_server/cmake-build-debug/
/CPP/build/cam_controller/cmake-build-debug/
/CPP/build/cmake-build-debug/
/GO/data/
/Python/venv/
/Python/config.json
/CPP/build/
/CPP/config/
/CPP/logfile.txt
/docker/push_to_quay.sh
/GO/src/server_auth/config.json
/GO/src/server_command/config.json
/GO/src/server_main/config.json
/docker-compose-test.yml
/docker-compose.yml
/k8s-configs/
